# Bloquear el acceso público al archivo .env
<Files ".env">
    <IfModule mod_authz_core.c>
        # Para Apache 2.4+
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        # Para versiones anteriores de Apache
        Order allow,deny
        Deny from all
    </IfModule>
</Files>
